*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    gap: 5px;
    justify-content: space-evenly;
    background-color: lightgreen;
}


.child{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 350px){
    .child {
        flex-basis: 100%;
    }
}
@media (min-width: 351px){
    .child {
        flex-basis: 49%;
    }
}
@media (min-width: 751px){
    .child {
        flex-basis: 32%;
    }
}
@media (min-width: 1150px){
    .child {
        flex-basis: 24%;
    }
}
